/*
Palette de couleur:
    main:#191716
    second:#799496
    text:#FFFBFF
    other1:#FF7F11
    other2:#db5461

*/

* {    
    box-sizing: border-box;
    font-family: 'Shantell Sans', cursive;
}

.bgColorMain {
    background-color: #191716;
}

.bgColorSecond {
    background-color: #799496;
}

a {
    text-decoration: none;
    color: #FFFBFF;
}

a:hover {
    color: #ff7f11;
}

ul {
    list-style: none;
    padding: 0;
}

.centerContent {
    max-width: 1920px;
}

body {
    position: relative;
    color: #FFFBFF;
    display: flex;
    flex-direction: column;
}

.navContainer {
    position: fixed;
    top: 75px;
    right: 75px;
    width: 50px;
    height: 50px;
    z-index: 3;
}

.navCross {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.navCross > span {
    width: 100%;
    height: 20%;
    background-color: #FFFBFF;
    background: linear-gradient(to left, #FFFBFF 50%, #db5461 50%) right;
    background-size: 200%;
    transition: all 0.5s;
}

.navContainer:hover > .navCross>span:nth-child(odd) {
    align-self: center;
    background-position: left;
}

.navContainer:hover > .navCross>span:nth-child(2) {
    width: 0;
}

.navContainer:hover > .navCross>span:nth-child(1) {
    transform-origin: bottom left;
    transform: rotate(45deg);
}

.navContainer:hover > .navCross>span:nth-child(3) {
    transform-origin: top left;
    transform: rotate(-45deg);
}

.navShow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.navShow > label {
    display: none;
}

#checkboxMenu {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.header {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    display: none;
}

.navContent {
    height: 80%;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.navContent>h1 {
    margin: 50px;
    height: 20%;
}

.nav {
    height: 70%;
    z-index: 1;
}

.nav>ul {
    margin: 0;
    height: 100%;
}

.nav>ul>li {
    position: relative;
    margin: 30px 0;
}

.nav>ul>li>a {
    display: block;
    height: 70px;
    padding: 10px;
    text-shadow: 2px 2px 2px #799496;
}

.nav>ul>li:nth-child(even):before {
    content: "";
    display: block;
    position: absolute;
    background-color: #db5461;
    top: 0px;
    left: -20px;
    opacity: 0.4;
    z-index: -1;
    width: 100%;
    height: 100%;
    transform: rotate(5deg);
    transition: all 0.3s;
}

.nav>ul>li:hover:nth-child(even):before {
    top: 0px;
    left: 0px;
    transform: rotate(0deg);
}

.nav>ul>li:nth-child(odd):before {
    content: "";
    display: block;
    position: absolute;
    background-color: #db5461;
    top: 0px;
    right: -20px;
    opacity: 0.4;
    z-index: -1;
    width: 100%;
    height: 110%;
    transform: rotate(-5deg);
    transition: all 0.3s;
}

.nav>ul>li:hover:nth-child(odd):before {
    top: 0px;
    right: 0px;
    transform: rotate(0deg);
}

.main {
    margin: auto;
    min-height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.main>section {
    margin: auto;
    height: 100vh;
    overflow: hidden;
}

.firstPage>h1>span {
    font-family: 'Source Code Pro', monospace;
}

.imgContainer {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.imgProfil {
    width: 100%;
    height: 100%;
    object-position: top;
    object-fit: cover;
}